APP_NAME="go-pos"
APP_ENV="development"

HTTP_URL="127.0.0.1"
HTTP_PORT="8080"
HTTP_ALLOWED_ORIGINS="http://127.0.0.1:3000,http://127.0.0.1:5173"

DB_CONNECTION="postgres"
DB_HOST="127.0.0.1"
DB_PORT="5432"
DB_NAME="gopos"
DB_USER="postgres"
DB_PASSWORD=

REDIS_ADDR="localhost:6379"
REDIS_PASSWORD=

TOKEN_DURATION="15m"
